/* .button {
  border: none;
  background: none;
  cursor: pointer;
} */

/* .button--primary {
  background-color: #e21833;
  border: 1px solid #e21833;
  color: #ffffff;
  transition: background 0.5s, border 0.5s, color 0.5s;

  display: inline-block;
  padding: 0.75rem 2rem;
}

.button--primary:hover,
.button--primary:focus {
  border: 1px solid #a90007;
  background-color: #a90007;
}

button.button--disabled {
  border: 1px solid var(--medium-gray);
  background-color: var(--medium-gray);
}

a.button--disabled {
  color: var(--medium-gray);
  cursor: not-allowed;
  background: none;
} */
